{% extends 'main/layout.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости</h1>
        {% if news %}
            {% for element in news %}
                <div class="alert alert-warning">
                    <h3>{{ element.title }}</h3>
                    <p>{{ element.anons }} </p>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас нет записей!</p>
        {% endif %}


    </div>
{% endblock %}